<?xml version="1.0" encoding="UTF-8"?>
<web-app
  id="tmr" version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>Vaadin Servlet</servlet-name>
    <servlet-class>
        com.vaadin.server.VaadinServlet</servlet-class>

    <init-param>
        <param-name>ui</param-name>
        <param-value>tmr.ApplicationUI</param-value>
    </init-param>

    <!-- Enable server push -->
    <init-param>
      <param-name>pushmode</param-name>
      <param-value>automatic</param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
</web-app>